<ion-header>
  <ion-toolbar>
    <ion-title>Category Editor</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="this.cancel()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-textarea [(ngModel)]="category" placeholder="category name">
        </ion-textarea>
      </ion-item>

      <ion-grid *ngIf="categoryOrigin !== undefined">
        <ion-row>
          <ion-col>
            <ion-button class="ion-margin" expand="block" (click)="this.deleteCategory()">Delete</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="ion-margin" expand="block" (click)="this.saveCategory()">Save</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="categoryOrigin === undefined">
        <ion-row>
          <ion-col>
            <ion-button class="ion-margin" expand="block" (click)="this.saveCategory()">Save</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>
