<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="this.cancel()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-chip *ngFor="let category of categories; let i = index" (click)="this.editCategory(i)">
        <ion-label>{{category}}</ion-label>
      </ion-chip>
      <ion-button class="ion-margin" expand="block" (click)="this.editCategory()">New</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
