<ion-header>
  <ion-toolbar>
    <ion-title>Add New Task</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="this.cancel()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="form_name" placeholder="Write your task here:">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-select [(ngModel)]="form_priority">
        <ion-select-option value="low">Low</ion-select-option>
        <ion-select-option value="mid">Medium</ion-select-option>
        <ion-select-option value="high">High</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Due Date</ion-label>
      <ion-datetime presentation="date" [(ngModel)]="form_dueDate"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>Category</ion-label>
      <span>{{form_category}}</span>
    </ion-item>

    <ion-item>
      <ion-chip *ngFor="let cat of categories; let i = index" (click)="toggleCategory(i)">
        <ion-label>{{cat}}</ion-label>
      </ion-chip>
      <ion-chip (click)="this.editCategories()">
        <ion-icon name="add"></ion-icon>
      </ion-chip>
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="save()">Save</ion-button>
  </ion-card>

</ion-content>
