<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-label style="font-weight: 800; font-size: 3em">
        Today:
        <p style="font-weight: 400; color: #169927">{{today | date:'fullDate'}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let task of tasks; let i = index" class="ion-margin">
    <ion-card-header>

      <ion-card-subtitle
        [style.color]="task.priority === 'high' ? 'red' : (task.priority === 'mid' ? 'orange' : 'green')">
        {{task.category}}
      </ion-card-subtitle>

      <ion-item>
        <ion-icon *ngIf="task.priority === 'high'" color='danger' name="ellipse" size="small"></ion-icon>
        <ion-icon *ngIf="task.priority === 'mid'" color='warning' name="ellipse" size="small"></ion-icon>
        <ion-icon *ngIf="task.priority === 'low'" color='success' name="ellipse" size="small"></ion-icon>
        <ion-label>{{task.name}}</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-label *ngIf="task.dueDate !== undefined">Due {{task.dueDate | date:'fullDate'}}</ion-label>


      <ion-row>
        <ion-item button (click)="this.editTask(i)">
          <ion-icon name="pencil-outline"></ion-icon>
          <p>Edit</p>
        </ion-item>
        <ion-item button (click)="this.deleteTask(i)">
          <ion-icon name="trash-outline"></ion-icon>
          <p>Delete</p>
        </ion-item>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="this.editTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
